body {
  margin: 0;
  padding: 0;
}

/* header start---------------------------------- */
header {
  width: 100vw;
  height: 100px;
  background-color: #415e72;
  display: flex;
}
.logo {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
}
nav {
  width: 60%;
  height: 100px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  font-size: 30px;
  color: white;
  list-style: none;
}
.button-group {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 25px;
  padding: 7px;
  border-radius: 10px;
  border: none;
  background-color: #33a1e0;
}
/* header end------------------------------- */

main {
  width: 100%;
  height: auto;
}
/* home section start---------------------------- */
.home {
  width: 100%;
  height: 750px;
  background-color: #476eae;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content {
  width: 40%;
  height: 30%;
  border-radius: 20px;
  background-color: #38588c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.home-title {
  font-size: 50px;
  color: white;
  margin: 0;
  padding: 0;
}
.home-subtitle {
  font-size: 30px;
  color: white;
  margin: 0;
  padding: 0;
}
/* home section end------------------------------ */

/* about section start--------------------------- */
.about {
  width: 100%;
  height: 750px;
}
.about-title-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about-title {
  font-size: 50px;
  margin-left: 100px;
  text-decoration: underline;
  color: #476eae;
}
/* about section end----------------------------- */

/* project section start------------------------- */
.project {
  width: 100%;
  height: 750px;
  background-color: #dcdcdc;
}
.project-title-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.project-title {
  font-size: 50px;
  margin-left: 100px;
  text-decoration: underline;
  color: #476eae;
}
/* project section end--------------------------- */

/* contact section start------------------------- */
.contact {
  width: 100%;
  height: 750px;
  background-color: #5d688a;
}
.contact-title-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-title {
  font-size: 50px;
  margin-left: 100px;
  text-decoration: underline;
  color: #182945;
}
/* contact section end--------------------------- */
