body{
    width:100vw ;
    height: auto;
    margin: 0;
    padding: 0;
}
/* header start----------- */
header{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
.logo{
    width: 30%;
    height: 100%;
}
ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 25px
}
/* header end------------- */

/* home section start----------- */
.home{
    width: 100%;
    height: 800px;
    background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.525);
}
.home-content{
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.505);
    border-radius: 20px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* home section end------------- */

/* Prodect section start-------- */
.product{
    width: 100%;
    height: 900px;
    background-color:black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.product-content{
    width: 80%;
    height: 10%;
    color: white;
    font-size: 30px;
}

.product-cards{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    width: 25%;
    height: 45%;
    background-color: rgb(73, 73, 73);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.card-img{
    width: 95%;
    height: 70%;
    border-radius: 20px;
}
.card-text{
    width: 80%;
    height: 20%;
    background-color: aquamarine;
}
h1{
    margin: 0;
    padding: 0;
}
/* Product section end---------- */